<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hjcrm.entity">
	
	<!-- 查询总表学员数据财务部 -->
	 <select id="queryStudentscaiwu" parameterType="java.util.Map" resultType="com.hjcrm.resource.entity.Student">
		select 
			s.*,u.username belongName,
			d.dealrecordId,d.subjectid, 
			c.courseName  courseName,s.dealprice,s.dealtime,
			
		 	group_concat(case when d.subjectid in (1,2) or dd.subjectid in (1,2)  then (case when d.ispass is null then dd.ispass else d.ispass end ) end) as afp,
			group_concat(case when d.subjectid in (3,8) or dd.subjectid in (3,8)  then(case when d.ispass is null then dd.ispass else d.ispass end )end) as touzi,
			group_concat(case when d.subjectid in (4,9) or dd.subjectid in (4,9)  then (case when d.ispass is null then dd.ispass else d.ispass end) end) as baoxian,
			group_concat(case when d.subjectid in (5,10) or dd.subjectid in (5,10)  then (case when d.ispass is null then dd.ispass else d.ispass end)end) as shuiwu,
			group_concat(case when d.subjectid in (6,11)or dd.subjectid in (6,11)  then (case when d.ispass is null then dd.ispass else d.ispass end) end) as fuli,
			group_concat(case when d.subjectid in (7,12)or dd.subjectid in (7,12)   then (case when d.ispass is null then dd.ispass else d.ispass end)end)   as zonghe,
			group_concat(case when d.subjectid in (31) or dd.subjectid in (31)  then (case when d.ispass is null then dd.ispass else d.ispass end) end)   as cejing,
			group_concat(case when d.subjectid in (30) or dd.subjectid in (30)  then (case when d.ispass is null then dd.ispass else d.ispass end) end) as kuaiji,
			
			group_concat((select sb.subjectname from hj_subject sb where sb.subjectid = d.subjectid or sb.subjectid =  dd.subjectid) separator '、') subjectname
		from  hj_student s
		left join hj_dealrecord d on d.resourceId = s.resourceId
		left join hj_dealrecord dd on dd.studentId = s.studentId
		left join hj_course c  on c.courseid = s.courseid 
		left join hj_user u on u.userid = s.belongid
		where 1=1 and s.dr = 0 and s.studentstate in (3,4,5,6,7)
		<if test="phone != null and phone !='' ">
				and s.phone=#{phone}
		</if>
		<if test="studentIds != null">
			<![CDATA[and s.studentId in(${studentIds})]]> 
		</if>
		<if test="arriveStartTime != null and arriveStartTime !='' ">
			<![CDATA[ and s.arrive_time >= #{arriveStartTime}]]> 
		</if>
		<if test="arriveEndTime != null and arriveEndTime !='' ">
				<![CDATA[ and s.arrive_time <= #{arriveEndTime}]]> 
		</if>
		<if test="remitWay != null and remitWay !='' ">
				and s.remitWay like concat('%','${remitWay}','%')
		</if>
		<if test="remituser != null and remituser !='' ">
				and s.remituser like concat('%','${remituser}','%')
		</if>
		<if test="studentName != null and studentName !='' ">
				and s.studentName like concat('%','${studentName}','%')
		</if>
		<if test="idCard != null and idCard !='' ">
				and s.idCard=#{idCard}
		</if>
		<if test="belongid != null and belongid !='' ">
				and s.belongid=#{belongid}
		</if>
		<if test="courseid != null and courseid !='' ">
				and s.courseid=#{courseid}
		</if>
		group by s.studentId ,s.resourceId 
 		order by s.commit_time desc
	 </select>

	  
</mapper> 
