<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hjcrm.entity">

	<!-- 根据部门ID，查询系统中所有角色 -->
	<select id="queryRoleList" parameterType="java.util.Map" resultType="com.hjcrm.system.entity.Role">
		select 
			r.roleid,r.rolename,r.dr
		from hj_role r
		where r.dr = 0
	</select>
	
	<!-- 修改角色对应的菜单，删除对应关系 -->
	<delete id="deleteRoleMenu" parameterType="java.util.Map">
		 delete  from hj_role_menu  where 1=1 and  dr = 0 and  roleid = #{roleid}
	</delete>
	
	<!-- 根据部门ID，查询部门下的所有角色 -->
	<select id="queryAllRole" parameterType="java.util.Map" resultType="com.hjcrm.system.entity.Role">
		select r.roleid,r.rolename,r.dr from hj_role r where r.dr = 0  
	</select>
	
	
</mapper> 
